.carousel-img:after {
    content:'';
    position:absolute;
    left:0; top:0;
    background: linear-gradient(to right, #151515 0%,rgba(21, 21, 21, 0) 100%); /* W3C */
    
  }
  .second-section img{
    transition: transform .1s ease;
  }
  .second-section img:hover{
    transform: rotate(180deg);
  }
